.foto-perfil{
        max-width: 200px;
        margin:auto;
        height: auto;
        box-shadow: 0px 0px 7px 2px transparent;
        border-radius: 10px;
    }
.w3-quarter img{
    margin-bottom: -6px; 
        cursor: pointer;
}
    .w3-quarter img:hover{
        opacity: 0.6; 
        transition: 0.3s;
    }

header h2{
    margin:0px;
    font-family: monospace;
    font-weight: bold;
    color: #ffffff;
}
.row.content {
    height: 1500px
}

.avatar_perfil{
  padding: 50px;
}
 
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
   
    footer {
      background-color: #555;
      color: white;
      padding: 13px;
      
    }
    
   
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

ul {
    list-style-type: none;
    margin: 5;
    padding: 5;
    overflow: hidden;
    background-color: currentColor;
}

li {
    float: right;
    margin: 1;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
legend{
    color: black;
    font-family: arial,sans-serif;
    font-size:20px;
}

button {

  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

iframe {
	border: none !important;
}

h1{
    font-size:2.5vw;
    color: black;
    font-weight: bold;
    margin-top:15px;
    color: #000;
    margin-left: 18px;
}

h2{
    color: black;
    font-family: 'Sofia', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top:  20px;
}
.form-inline{
    text-align: center;
}

body {
        margin: 0;
	padding: 0;
	background: url(../view/imagem/imagem.png);
	background-size: cover;
	font-family: sans-serif;
        background-repeat: no-repeat;
}
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-bottom: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.slider {
	position: relative;	
	margin-top:-20px;
}

.form-inline {
	margin-top:50px;	
}

.about {
	padding:80px 0 80px 0;
	background:#ddd;
        opacity:30% ;
}

.about .text-center h2 {
	text-transform:uppercase;
	font-weight:550;
	font-size:24px;
}

.about .text-center p {
	margin-top:20px;
	margin-bottom:80px;
	color:#aaa;
} 

.btn-gamp a {
  float: right;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #272727;
  border: 2px solid #272727;
  width: 180px;
  height: 60px;
  text-align: center;
  display: inline-block;
  line-height: 56px;
}

.btn-gamp a:hover {
  opacity: 0.8;
  transition: all 0.5s;
}

.gamp-btn a {
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #272727;
  color: #ffffff;
  width: 180px;
  height: 60px;
  text-align: center;
  display: inline-block;
  line-height: 60px;
}
.gamp-btn a:hover {
  color: #ffffff;
  opacity: 0.8;
  transition: all 0.5s;
}

.center span {
	color:#E8CE0E;
}

#about-us {
	margin-bottom:50px;
}

#about-us .text-center h2 {
	text-transform:uppercase;
	font-weight:550;
	font-size:24px;
	margin-bottom:30px;
}

.skill_text {
  display: block;
  margin-bottom: 60px;
  margin-top: 25px;
  overflow: hidden;
}

.sinlge-skill {
  background:#f2f2f2;
  border-radius: 100%;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  height: 200px;
  position: relative;
  width: 200px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 30px 0;
}

.sinlge-skill p em {
  color: #FFFFFF;
  font-size: 38px;
}

.sinlge-skill p {
  line-height: 1;
   color: #FFFFFF;
}

.joomla-skill, 
.html-skill, 
.css-skill, 
.wp-skill {
  position: absolute;
  height: 100%;
  bottom: 0;
  width:100%;
  border-radius: 100%;
  padding: 70px 0;
  text-align: center;
}

.skill-wrap {
  display: block;
  overflow: hidden;
  margin: 60px 0;
}

.team .text-center h2 {
	text-transform:uppercase;
	font-weight:550;
	font-size:24px;
	margin-bottom:30px;
        text-align: center;
        left:30px;
}

.team .text-center p {
	margin-bottom:50px;
}

.team h4 {
  margin-top: 0;
  text-transform: uppercase;
}

.team h5 {
  font-weight: 300;
}

.single-profile-top, 
.single-profile-bottom {
  font-weight: 400;
  line-height: 24px;
}

.single-profile-top, 
.single-profile-bottom  {
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
}

.media_image {
  margin-bottom: 10px;
}

.team .btn {
  background:transparent;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  border:1px solid#ddd;
  margin-right: 3px;
}


ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li  a i{
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity:.8;
}

.team .social_icons .fa-facebook:hover, 
.team .social_icons .fa-twitter:hover, 
.team .social_icons .fa-google-plus:hover {
  transform: rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg); 
  transition-duration:2s;
  transition-property: all;
  transition-timing-function: ease;
  opacity:1;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.team .social_icons .fa-facebook {
  background: #0182c4;
}

.team .social_icons .fa-twitter {
  background: #20B8FF
}

.team .social_icons .fa-google-plus {
  background: #D34836
}


.team-bar .first-one-arrow {
  float: left;
  margin-right: 30px;
  width: 2%;
}

.team-bar .first-arrow {
  float: left;
  margin-left: 5px;
  margin-right: 35px;
  width: 22%;
}

.team-bar .second-arrow {
  float: left;
  margin-left: 5px;
  width: 21%;
}

.team-bar .third-arrow {
  float: left;
  margin-left: 40px;
  margin-right: 12px;
  width: 22%;
}

.team-bar .fourth-arrow {
  float: left;
  margin-left: 25px;
  width: 20%;
}

.team-bar .first-one-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.team-bar .first-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.team-bar .second-arrow hr {
  border-bottom: 1px solid #6aa42f;
  border-top: 1px solid #6aa42f;
}

.team-bar .third-arrow hr {
  border-bottom: 1px solid #FFBD20;
  border-top: 1px solid #FFBD20;

}

.team-bar .fourth-arrow hr {
  border-bottom: 1px solid #db3615;
  border-top: 1px solid #db3615;
}

.team-bar {
  margin-bottom: 15px;
  margin-top: 30px;
  position: relative;
}

.team-bar i {
  border-radius: 50%;
  color: #FFFFFF;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-top: -32px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 24px;
  position: absolute;
}

.team-bar .first-arrow .fa-angle-up {
  background:#2D7DA4;
  margin-left:-33px
 }

.team-bar .second-arrow .fa-angle-down {
  background:#6AA42F;
  margin-left: -33px;
}

.team-bar .third-arrow .fa-angle-up {
  background:#FFBD20;
  margin-left: -32px;
}

.team-bar .fourth-arrow .fa-angle-down {
  background:#db3615;
  margin-left: -32px;
}

.team .single-profile-top:before, 
.team .single-profile-top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.team .single-profile-top:before {
  left:26px;
  bottom: -20px;
  border-width: 10px;
  border-color:#fff transparent transparent transparent;
  z-index: 1;
}

.team .single-profile-top:after {
  left: 25px;
  bottom: -22px;
  border-style: solid;
  border-width: 11px;
  border-color:#ddd transparent transparent transparent;
  z-index: 0;
}

.team .single-profile-bottom:before,
.team .single-profile-bottom:after {
  position: absolute;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
}

.team .single-profile-bottom:before {
  left:30px;
  top: -20px;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}

.team .single-profile-bottom:after {
  left: 29px;
  top: -22px;
  border-style: solid;
  border-width: 11px;
  border-color: transparent transparent #DDD transparent;
  z-index: 0;
}

/*===========================
  services
============================ */

.services {
	padding:80px 0 80px 0;
}

.services .text-center h2 {
	font-weight:300;
	text-transform:uppercase;
	text-shadow:none;
	margin-bottom:50px;
	font-size:24px;
}

.services i {
	margin-top:20px;
	margin-bottom:10px;
	font-size:50px;
	color:#ddd;
}

.services h3 {
	margin-bottom:20px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
 }
/*---------------*/
/***** Marley *****/
/*---------------*/

figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley h4,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}


figure.effect-marley p {
	bottom: 30px;
	color:#fff;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h4 {
	top: 30px;
	color:#fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h4 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h4::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h4::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h4::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.action {
  overflow: visible;
  padding: 0px;
  width: 100;
  background: #f2f2f2;
  position: relative;
}
.action .left-text {
  padding: 70px 0;
  padding-right: 60px;
  width: 50%;
}
.action .left-text h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
.action .left-text p {
  padding-top: 20px;
}
.action .left-text em {
  font-size: 16px;
  color: #aaa;
  font-weight: 300;
  font-style: normal;
}
.action .right-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../img/7.jpg);
}

li{
    text-decoration:  none;
}
myCarousel{
    text-align: center;
}
form{
    text-align: center;
    padding: 20px 0px;
}
td{
    text-decoration: none;
    
}


.estrelas input[type=radio] {
 display: none;
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}
.registrobox{
width: 800px;
margin:0 auto;			
padding: 10px;
text-align:left;
                
               
                 }
.registrobox input[type="submit"] :hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.registrobox a[type="button"]:hover{
        cursor: pointer;
	background: #ffc107;
	color: #000;
}
.registrobox a[type="button"]{
         border: none;
	outline: none;
	height: 30px;
	background: #ffc107;
	color: #111;
	font-size: 18px;
	border-radius: 10px;
}
.registrobox input[type="submit"] 
{
	background: #ffc107;
	color: #111;
	font-size: 18px;
	border-radius: 10px;
}
.registrobox input {
	width: 350px;
	margin-bottom: 2px;
        font-size: 18px;
}
.registrobox input[type="date"] {
	width: 200px;
	margin-bottom: 2px;
        
}
.registrobox label{
    width: 200px;
    font-size: 18px;
	
}
.registrobox select {
	width: 100%;
	margin-bottom: 5px;
       
}
  div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\2605';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\2605';
}
